.krona-one-regular {
    font-family: "Krona One", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
p {
    font-family: "Krona One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

body {
    background-color: #262626;
    color: white;
    font-family: "Krona One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

a {
    color: #33fff8;
    font-family: "Krona One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

a:visited {
    color: #2ad1cc;
    font-family: "Krona One", sans-serif;
    font-weight: 400;
    font-style: normal;
}